[user]
    email = fmount@inventati.org
    name = fmount
    signingkey = 98A3FEE41FCA0620
[core]
    editor = vim
    excludesfile = ~/.cvsignore
[alias]
    cs = commit -s
    co = checkout
    br = branch
    ci = commit
    st = status
    pr = "!f() { git fetch $1 refs/pull/$2/head:pr/$1/$2 && git checkout pr/$1/$2;  } ; f"
    obr = "!f() { git fetch $1 refs/heads/$2:obr/$1/$2 && git checkout obr/$1/$2;  } ; f"
[color]
    ui = auto
[push]
    default = simple
[github]
    user = fmount
[commit]
    gpgsign = true
[merge]
    log = true
[apply]
    whitespace = fix
[credential]
    helper = store
[http]
    cookiefile = /home/fmount/.gitcookies
    sslVerify = false
[gpg]
    program = gpg2

[includeIf "gitdir:~/projects/**"]
    path = ~/.config/gitconfig/.gitconfig-redhat

[includeIf "gitdir:~/devnull/**"]
    path = ~/.config/gitconfig/.gitconfig-redhat

[includeIf "gitdir:~/private/**"]
    path = ~/.config/gitconfig/gitconfig-fmount
