! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
!st.termname:     screen-256color
st.termname:     xterm-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:        /bin/zsh

! The following options options can be reloaded via USR1 signal.
st.font:         Spleen 16x32:style=Medium:pixelsize=18:antialias=true:autohint=true
st.borderpx:     10
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:  2
st.cursorthickness:  2
st.cursorfg:     #bc6a00
st.bold_font:    0
st.xfps:         120
st.actionfps:    30
st.chscale:      1.0
st.cwscale:      1.0
st.blinktimeout: 800
st.bellvolume:   100
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:  $

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity:      255
! Defaults taken from base16-twilight colorscheme.
st.foreground:   #a7a7a7

!More transparent background
!st.background:   #1e1e1e
st.background:   #000000

st.color0: #1e1e1e
st.color1: #cf6a4c
st.color2: #8f9d6a
st.color3: #C4A000
!st.color3:      #f9ee98
!st.color4:      #7587a6
st.color4: #3465A4
st.color5: #9b859d
st.color6: #afc4db
st.color7: #a7a7a7

!st.color8: #5f5a60
st.color8:  #555753

st.color9:  #cf6a4c
st.color10: #8f9d6a

!Light Yellow
st.color11: #f9ee98
!st.color11: #FCE94F

!Dark yellow
!st.color11: #C4A000

st.color12: #7587a6
st.color13: #9b859d
st.color14: #afc4db
st.color15: #ffffff
st.color16: #cda869
st.color17: #9b703f
st.color18: #323537
st.color19: #464b50
st.color20: #838184
st.color21: #c3c3c3
st.color232: #ffffff

st.bindings: "~/projects/lua/factorial.lua"

! INFO SECTION CONTAINING ALL COLOR DEFINITIONS !
!! Black + DarkGrey
!*color0:  #000000
!*color8:  #555753
!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d
!! DarkGreen + Green
!*color2:  #93d44f
!*color10: #c8e7a8
!! DarkYellow + Yellow
!*color3:  #eab93d
!*color11: #ffc123
!! DarkBlue + Blue
!*color4:  #204a87
!*color12: #3465a4
!! DarkMagenta + Magenta
!*color5:  #ce5c00
!*color13: #f57900
!!DarkCyan + Cyan (both not tango)
!*color6:  #89b6e2
!*color14: #46a4ff
!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff
